<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/database/analysis-elements"></ion-back-button>
    </ion-buttons>
    <ion-title>Base de datos: Elementos de análisis - Crear</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        <ion-label>Guardar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-padding-top">
        <ion-item lines="none">
          <ion-label position="floating">Código</ion-label>
          <ion-input type="text" placeholder="Introduzca código" [(ngModel)]="elementCode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" placeholder="Introduzca nombre del elemento" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">LOINC</ion-label>
          <ion-input type="text" placeholder="Introduzca LOINC" [(ngModel)]="loinc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>