<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Información: {{disease?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isAdmin && disease" [routerLink]="[ '/database/diseases/edit', disease.id ]" (click) = "dismissModal()">
        <ion-icon slot="start" name="folder"></ion-icon>
        Ver enfermedad/condición en base de datos
      </ion-button>
      <ion-button (click)="dismissModal()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item class="ion-margin ion-padding" lines="full">
  <ng-container *ngIf="disease && disease.notes; else elseTemplate">
    <ion-text style="white-space: pre-wrap">{{disease.notes}}</ion-text>
  </ng-container>
  <ng-template #elseTemplate>
    <ion-text>No hay información disponible</ion-text>
  </ng-template>
</ion-item>
</ion-content>
