<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Doctors"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="lang.isSpanish()">Crear doctor</ion-title>
    <ion-title *ngIf="!lang.isSpanish()">Create doctor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        <ion-label *ngIf="lang.isSpanish()">Guardar</ion-label>
        <ion-label *ngIf="!lang.isSpanish()">Save</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-padding-top">
        <ion-item>
          <ion-label position="floating" *ngIf="lang.isSpanish()">Nombre</ion-label>
          <ion-label position="floating" *ngIf="!lang.isSpanish()">Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"
            [placeholder]="lang.isSpanish()?'Introduzca nombre del doctor':'Enter doctor´s name'"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-padding-top">
        <ion-item>
          <ion-label position="floating" *ngIf="lang.isSpanish()">Correo electrónico</ion-label>
          <ion-label position="floating" *ngIf="!lang.isSpanish()">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" [pattern]="testEmail"
            [placeholder]="lang.isSpanish()?'Introduzca email del doctor':'Enter doctor´s email'"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-padding-top">
        <ion-item>
          <ion-label position="floating" *ngIf="lang.isSpanish()">Contraseña</ion-label>
          <ion-label position="floating" *ngIf="!lang.isSpanish()">Password</ion-label>
          <ion-input type="text" [(ngModel)]="password"
            [placeholder]="lang.isSpanish()?'Introduzca contraseña del doctor':'Enter doctor´s password'"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>