<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar prueba de imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-margin-top">
        <ion-item lines="full">
          <ion-label position="floating" *ngIf="lang.isSpanish()">Fecha de realización</ion-label>
          <ion-label position="floating" *ngIf="!lang.isSpanish()">Date of realization</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="date" cancelText="Cancelar" doneText="Aceptar">
          </ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Accession number</ion-label>
          <ion-input placeholder="Introduzca accesion number" [(ngModel)]="accessionNumber"></ion-input>
        </ion-item>
      </ion-col>

      <!-- CASO NUEVO -->
      <ion-col size="12" *ngIf="imageTest && imageTest.name !== 'Endometriosis'" class="ion-margin-bottom">
        <ion-item *ngFor="let biomarker of subjectImageTest?.biomarkers; let i = index" lines="full"
        [color]="biomarker.status==='positive'?'danger':'light'">
          <ion-label position="floating">
            {{ biomarker.data.name }}
          </ion-label>
          <ion-input *ngIf="biomarker.data.type==='text'" type="text"
          [placeholder]="lang.isSpanish()?'Introduzca '+biomarker.data.name.toLowerCase():'Enter '+ biomarker.data.name.toLowerCase()"
          (ionChange)="editTestField(biomarker.data.id, $event.target.value)" [value]="biomarker.value">
        </ion-input>
        <ion-textarea *ngIf="biomarker.data.type==='textarea'"
          [placeholder]="lang.isSpanish()?'Introduzca '+biomarker.data.name.toLowerCase():'Enter '+ biomarker.data.name.toLowerCase()"
          rows="4" (ionChange)="editTestField(biomarker.data.id, $event.target.value)" [value]="biomarker.value">
        </ion-textarea>
        <ion-textarea *ngIf="biomarker.data.type==='conclusion'"
          [placeholder]="lang.isSpanish()?'Introduzca '+biomarker.data.name.toLowerCase():'Enter '+ biomarker.data.name.toLowerCase()"
          rows="4" (ionChange)="editTestField(biomarker.data.id, $event.target.value)" [value]="biomarker.value">
        </ion-textarea>
        <ion-select *ngIf="biomarker.data.type==='multiple'"
          [placeholder]="lang.isSpanish()?'Introduzca '+biomarker.data.name.toLowerCase():'Enter '+ biomarker.data.name.toLowerCase()"
          (ionChange)="editTestField(biomarker.data.id, $event.target.value)" [value]="biomarker.value" cancelText="Cancelar" multiple>
          <ion-select-option *ngFor="let option of biomarker.data.options" [value]="option" class="ion-text-wrap">{{option}}
          </ion-select-option>
        </ion-select>
        <ion-select
          [placeholder]="lang.isSpanish()?'Introduzca '+biomarker.data.name.toLowerCase():'Enter '+ biomarker.data.name.toLowerCase()"
          *ngIf="biomarker.data.type==='binary'" [value]="biomarker.value" cancelText="Cancelar"
          (ionChange)="editTestField(biomarker.data.id, $event.target.value)">
          <ion-select-option *ngIf="!biomarker.data.defaultInput" [value]="biomarker.data.falseInput">
            {{biomarker.data.falseInput}}
          </ion-select-option>
          <ion-select-option *ngIf="!biomarker.data.defaultInput" [value]="biomarker.data.trueInput">{{biomarker.data.trueInput}}
          </ion-select-option>
          <ion-select-option *ngIf="biomarker.data.defaultInput" [value]="biomarker.data.trueInput">{{biomarker.data.trueInput}}
          </ion-select-option>
          <ion-select-option *ngIf="biomarker.data.defaultInput" [value]="biomarker.data.falseInput">
            {{biomarker.data.falseInput}}
          </ion-select-option>
        </ion-select>
        <ion-input *ngIf="biomarker.data.type==='number'" type="number"
          [placeholder]="lang.isSpanish()?'Introduzca '+biomarker.data.name.toLowerCase():'Enter '+ biomarker.data.name.toLowerCase()"
          (ionChange)="editTestField(biomarker.data.id, $event.target.value)" [value]="biomarker.value"></ion-input>
        <ion-range *ngIf="biomarker.data.type==='interval'" (ionChange)="editTestField(biomarker.data.id, $event.target.value)"
          [min]="biomarker.data.min" [max]="biomarker.data.max" pin="true" snaps="true" step="1" ticks="true" value="0" color="primary"
          [value]="biomarker.data.value">
        </ion-range>
        <ion-input *ngIf="biomarker.data.type==='unit'" type="number"
          [placeholder]="lang.isSpanish()?'Introduzca '+biomarker.data.name.toLowerCase():'Enter '+ biomarker.data.name.toLowerCase()"
          (ionChange)="editTestField(biomarker.data.id, $event.target.value)" [value]="biomarker.value"></ion-input>
        <ion-note slot="end" *ngIf="biomarker.data.type==='unit'">{{biomarker.data.unit}}</ion-note>

        <ion-buttons slot="end">
          <ion-button (click)="addImage(subjectImageTest.id, biomarker.id, i)" *ngIf="biomarker.value && biomarker.value.length !== 0">
            <ion-icon slot="icon-only" name="location"></ion-icon>
          </ion-button>
          <ion-button (click)="showGallery(biomarker.id)">
            <ion-icon slot="icon-only" name="images"></ion-icon>
          </ion-button>
        </ion-buttons>

        </ion-item>
      </ion-col>

       <!-- CASO ANTIGUO -->
       <ion-col size="12" *ngIf="imageTest && imageTest.name !== 'Endometriosis' && oldValues">
        <ion-item color="secondary">
          <ion-label>DATOS ANTIGUOS (VER ESTOS DATOS Y AÑADIRLOS ARRIBA DONDE CORRESPONDA)</ion-label>
        </ion-item>
        <ion-item *ngFor="let field of oldValues; let i = index" lines="full"
          [color]="field.status==='positive'?'danger':'light'">

          <ion-label position="floating" [ngStyle]="{'padding-bottom': field.type==='interval'?'5px':'0px'}">
            {{ field.name }}</ion-label>
          <ion-input *ngIf="field.type==='text'" type="text"
            [placeholder]="lang.isSpanish()?'Introduzca '+field.name.toLowerCase():'Enter '+ field.name.toLowerCase()"
            [value]="field.value">
          </ion-input>
          <ion-textarea *ngIf="field.type==='textarea'"
            [placeholder]="lang.isSpanish()?'Introduzca '+field.name.toLowerCase():'Enter '+ field.name.toLowerCase()"
            rows="4" [value]="field.value">
          </ion-textarea>
          <ion-textarea *ngIf="field.type==='conclusion'"
            [placeholder]="lang.isSpanish()?'Introduzca '+field.name.toLowerCase():'Enter '+ field.name.toLowerCase()"
            rows="4" [value]="field.value">
          </ion-textarea>
          <ion-select *ngIf="field.type==='multiple'"
            [placeholder]="lang.isSpanish()?'Introduzca '+field.name.toLowerCase():'Enter '+ field.name.toLowerCase()"
            [value]="field.value" cancelText="Cancelar" multiple>
            <ion-select-option *ngFor="let option of field.options" [value]="option" class="ion-text-wrap">{{option}}
            </ion-select-option>
          </ion-select>
          <ion-select
            [placeholder]="lang.isSpanish()?'Introduzca '+field.name.toLowerCase():'Enter '+ field.name.toLowerCase()"
            *ngIf="field.type==='binary'" [value]="field.value" cancelText="Cancelar"
           >
            <ion-select-option *ngIf="!field.defaultInput" [value]="field.falseInput">
              {{field.falseInput}}
            </ion-select-option>
            <ion-select-option *ngIf="!field.defaultInput" [value]="field.trueInput">{{field.trueInput}}
            </ion-select-option>
            <ion-select-option *ngIf="field.defaultInput" [value]="field.trueInput">{{field.trueInput}}
            </ion-select-option>
            <ion-select-option *ngIf="field.defaultInput" [value]="field.falseInput">
              {{field.falseInput}}
            </ion-select-option>
          </ion-select>
          <ion-input *ngIf="field.type==='number'" type="number"
            [placeholder]="lang.isSpanish()?'Introduzca '+field.name.toLowerCase():'Enter '+ field.name.toLowerCase()"
             [value]="field.value"></ion-input>
          <ion-range *ngIf="field.type==='interval'" 
            [min]="field.min" [max]="field.max" pin="true" snaps="true" step="1" ticks="true" value="0" color="primary"
            [value]="field.value">
          </ion-range>
          <ion-input *ngIf="field.type==='unit'" type="number"
            [placeholder]="lang.isSpanish()?'Introduzca '+field.name.toLowerCase():'Enter '+ field.name.toLowerCase()"
           [value]="field.value"></ion-input>
          <ion-note slot="end" *ngIf="field.type==='unit'">{{field.unit}}</ion-note>
          <!-- 
          <ion-buttons slot="end">
            <ion-button (click)="addImage(i,field.name, field.value)">
              <ion-icon slot="icon-only" name="location"></ion-icon>
            </ion-button>
            <ion-button (click)="showGallery(i)">
              <ion-icon slot="icon-only" name="images"></ion-icon>
            </ion-button>
          </ion-buttons>
           -->
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label *ngIf="lang.isSpanish()">Cancelar</ion-label>
        <ion-label *ngIf="!lang.isSpanish()">Cancel</ion-label>
      </ion-button>
      <ion-button (click)="save()" color="primary">
        <ion-icon slot="start" name="save"></ion-icon>
        <ion-label *ngIf="lang.isSpanish()">Aceptar</ion-label>
        <ion-label *ngIf="!lang.isSpanish()">Accept</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>