<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="lang.isSpanish()">Galería</ion-title>
    <ion-title *ngIf="!lang.isSpanish()">Gallery</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed padding>
    <ion-row>
      <ion-col size="3" *ngFor="let image of images; let i = index">
        <ion-card>
          <ion-card-header>
            <ion-img [src]="image.url" style="cursor: pointer" (click)="openImage(image.url)"></ion-img>
            <ion-card-subtitle>{{image.test}}</ion-card-subtitle>
            <ion-card-title>{{image.section}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-chip color="primary" mode="ios" outline="true">
              <ion-label>X: {{image.coordinates[0]}}</ion-label>
            </ion-chip>
            <ion-chip color="primary" mode="ios" outline="true">
              <ion-label>Y: {{image.coordinates[1]}}</ion-label>
            </ion-chip>
            <ion-chip color="primary" mode="ios" outline="true">
              <ion-label>Z: {{image.coordinates[2]}}</ion-label>
            </ion-chip>
          </ion-card-content>
          <ion-item>
            <ion-buttons slot="end">
              <ion-button slot="icon-only" (click)="deleteImage(i)" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>