<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/database"></ion-back-button>
    </ion-buttons>
    <ion-title>Base de datos: Catálogo Synlab</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['./import']">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        <ion-label class="ion-hide-md-down">Importar catálogo</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" size-lg="10" class="ion-padding-top">
        <ion-searchbar #searchbar placeholder="Buscar por nombre..."
          (ionChange)="onSearchChange($event.detail.value)" [debounce]="250" class="ion-no-padding">
        </ion-searchbar>
      </ion-col>
      <ion-col size="4" size-lg="2" class="ion-padding-top">
        <ion-item lines="none" color="default">
          <ion-buttons slot="end">
            <ion-button (click)="changeView('list')" color="primary">
              <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
            <ion-button (click)="changeView('grid')" color="primary">
              <ion-icon slot="icon-only" name="grid"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="listView">
      <ion-col size="12" class="ion-padding-top">
        <ng-container *ngIf="!queryElements; else elseTemplate">
          <ion-item *ngFor="let analysisElement of analysisElements; let i = index"
          (click)="toggleInfo(i)" lines="full" button>
          <ion-label>
            {{ analysisElement.codigo }} - {{ analysisElement.datos[0].DESCRIPCION_TEST }}
            <div *ngIf="analysisElement.visible">
              <div *ngFor="let valor of analysisElement.datos" style="margin-top: 1rem; margin-bottom: 1 rem;">
                <li *ngIf="valor.CODIGO">CODIGO: {{valor.CODIGO}}</li>
                <li *ngIf="valor.CODIGO_T">CODIGO_T: {{valor.CODIGO_T}}</li>
                <li *ngIf="valor.CUALITATIVO">CUALITATIVO: {{valor.CUALITATIVO}}</li>
                <li *ngIf="valor.DESCRIPCION">DESCRIPCION: {{valor.DESCRIPCION}}</li>
                <li *ngIf="valor.DESCRIPCION_TEST">DESCRIPCION_TEST: {{valor.DESCRIPCION_TEST}}</li>
                <li *ngIf="valor.GRUPO_VR">GRUPO_VR: {{valor.GRUPO_VR}}</li>
                <li *ngIf="valor.INTERPRETACION">INTERPRETACION: {{valor.INTERPRETACION}}</li>
                <li *ngIf="valor.INTERVALO_INF_EDAD">INTERVALO_INF_EDAD: {{valor.INTERVALO_INF_EDAD}}</li>
                <li *ngIf="valor.INTERVALO_SUP_EDAD">INTERVALO_SUP_EDAD: {{valor.INTERVALO_SUP_EDAD}}</li>
                <li *ngIf="valor.LIM_INF">LIM_INF: {{valor.LIM_INF}}</li>
                <li *ngIf="valor.LIM_SUP">LIM_SUP: {{valor.LIM_SUP}}</li>
                <li *ngIf="valor.OBSERVACIONES">OBSERVACIONES: {{valor.OBSERVACIONES}}</li>
                <li *ngIf="valor.SEXO">SEXO: {{valor.SEXO}}</li>
                <li *ngIf="valor.SIMBOLO_LIM_INF">SIMBOLO_LIM_INF: {{valor.SIMBOLO_LIM_INF}}</li>
                <li *ngIf="valor.SIMBOLO_LIM_SUP">SIMBOLO_LIM_SUP: {{valor.SIMBOLO_LIM_SUP}}</li>
                <li *ngIf="valor.SUBGRUPO_VR">SUBGRUPO_VR: {{valor.SUBGRUPO_VR}}</li>
                <li *ngIf="valor.TITULACION">TITULACION: {{valor.TITULACION}}</li>
                <li *ngIf="valor.UNIDAD">UNIDAD: {{valor.UNIDAD}}</li>
                <li *ngIf="valor.UNIDAD_INTERVALO_EDAD">UNIDAD_INTERVALO_EDAD: {{valor.UNIDAD_INTERVALO_EDAD}}</li>
              </div>
            </div>
          </ion-label>
            <!-- <ion-badge slot="end" color="primary" mode="ios">{{ geneticElement.disease.name }}</ion-badge> -->
          </ion-item>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-item *ngFor="let analysisElement of queryElements; let i = index"
             (click)="toggleInfo(i)" lines="full" button>
             <ion-label>
              {{ analysisElement.codigo }} - {{ analysisElement.datos[0].DESCRIPCION_TEST }}
              <div *ngIf="analysisElement.visible">
                <div *ngFor="let valor of analysisElement.datos" style="margin-top: 1rem; margin-bottom: 1 rem;">
                  <li *ngIf="valor.CODIGO">CODIGO: {{valor.CODIGO}}</li>
                  <li *ngIf="valor.CODIGO_T">CODIGO_T: {{valor.CODIGO_T}}</li>
                  <li *ngIf="valor.CUALITATIVO">CUALITATIVO: {{valor.CUALITATIVO}}</li>
                  <li *ngIf="valor.DESCRIPCION">DESCRIPCION: {{valor.DESCRIPCION}}</li>
                  <li *ngIf="valor.DESCRIPCION_TEST">DESCRIPCION_TEST: {{valor.DESCRIPCION_TEST}}</li>
                  <li *ngIf="valor.GRUPO_VR">GRUPO_VR: {{valor.GRUPO_VR}}</li>
                  <li *ngIf="valor.INTERPRETACION">INTERPRETACION: {{valor.INTERPRETACION}}</li>
                  <li *ngIf="valor.INTERVALO_INF_EDAD">INTERVALO_INF_EDAD: {{valor.INTERVALO_INF_EDAD}}</li>
                  <li *ngIf="valor.INTERVALO_SUP_EDAD">INTERVALO_SUP_EDAD: {{valor.INTERVALO_SUP_EDAD}}</li>
                  <li *ngIf="valor.LIM_INF">LIM_INF: {{valor.LIM_INF}}</li>
                  <li *ngIf="valor.LIM_SUP">LIM_SUP: {{valor.LIM_SUP}}</li>
                  <li *ngIf="valor.OBSERVACIONES">OBSERVACIONES: {{valor.OBSERVACIONES}}</li>
                  <li *ngIf="valor.SEXO">SEXO: {{valor.SEXO}}</li>
                  <li *ngIf="valor.SIMBOLO_LIM_INF">SIMBOLO_LIM_INF: {{valor.SIMBOLO_LIM_INF}}</li>
                  <li *ngIf="valor.SIMBOLO_LIM_SUP">SIMBOLO_LIM_SUP: {{valor.SIMBOLO_LIM_SUP}}</li>
                  <li *ngIf="valor.SUBGRUPO_VR">SUBGRUPO_VR: {{valor.SUBGRUPO_VR}}</li>
                  <li *ngIf="valor.TITULACION">TITULACION: {{valor.TITULACION}}</li>
                  <li *ngIf="valor.UNIDAD">UNIDAD: {{valor.UNIDAD}}</li>
                  <li *ngIf="valor.UNIDAD_INTERVALO_EDAD">UNIDAD_INTERVALO_EDAD: {{valor.UNIDAD_INTERVALO_EDAD}}</li>
                </div>
              </div>
            </ion-label>
            <!-- <ion-badge slot="end" color="primary" mode="ios">{{ geneticElement.disease.name }}</ion-badge> -->
          </ion-item>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ag-grid-angular *ngIf="!listView && !queryElements" style="height: 90%" class="ag-theme-material"
    [rowData]="analysisElements" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

  <ag-grid-angular *ngIf="!listView && queryElements" class="ag-theme-material" [rowData]="queryElements"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" domLayout="autoHeight"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</ion-content>
