
<ion-app>
  <ion-toolbar color="primary" class="ion-hide-md-down" *ngIf="userData">
    <ion-thumbnail slot="start" class="ion-margin-start">
      <img src="/assets/images/one-me-logo.svg" />
    </ion-thumbnail>
    <ion-title slot="start">One Me</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSignOut()" title="Cerrar sesión">
        <ion-icon slot="icon-only" name="log-out" color="danger"></ion-icon>
      </ion-button>
      <ion-button routerLink="/documentation" [routerDirection]="'root'" title="Documentación">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="openNotifications($event)" title="Notificaciones (próximamente)" shape="round">
        <ion-icon [slot]="hasNotifications?'end':'icon-only'" name="notifications"></ion-icon>
        <ion-badge *ngIf="hasNotifications" color="danger" mode="ios">{{ numberOfNotifications }}</ion-badge>
      </ion-button>
      <ion-button routerLink="/profile" [routerDirection]="'root'" title="Perfil de usuario">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-content>
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="overlay"> 
        <ion-content>
          <ion-list id="inbox-list" *ngIf="lang.isSpanish()">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;">
              <ion-list-header *ngIf="p.title==='Sujetos'" class="ion-margin-vertical">
                <ion-label>USUARIOS</ion-label>
              </ion-list-header>
              <!-- 
              <ion-list-header *ngIf="p.title==='Informes'" class="ion-margin-vertical">
                <ion-label>INFORMES</ion-label>
              </ion-list-header>
               -->
              <ion-list-header *ngIf="p.title==='Base de datos'" class="ion-margin-vertical">
                <ion-label>DATOS</ion-label>
              </ion-list-header>
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                [class.selected]="isSelected(p.url)">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list id="inbox-list" *ngIf="!lang.isSpanish()">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesEng;">
              <ion-list-header *ngIf="p.title==='Subjects'" class="ion-margin-vertical">
                <ion-label>USERS</ion-label>
              </ion-list-header>
              <!-- 
              <ion-list-header *ngIf="p.title==='Reports'" class="ion-margin-vertical">
                <ion-label>REPORTS</ion-label>
              </ion-list-header>
               -->
              <ion-list-header *ngIf="p.title==='Database'" class="ion-margin-vertical">
                <ion-label>DATABASE</ion-label>
              </ion-list-header>
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                [class.selected]="isSelected(p.url)">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
        <ion-footer class="ion-hide-md-up">
          <ion-toolbar color="primary">
            <ion-buttons slot="start">
              <ion-button routerLink="/profile" [routerDirection]="'root'">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
              </ion-button>
              <ion-button routerLink="/documentation" [routerDirection]="'root'">
                <ion-icon slot="icon-only" name="book"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="signOut()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-content>
   <!--  
   <div style="text-align: center; margin-top: 50px;">En mantenimiento, perdonen las molestias</div>
   -->
</ion-app>
