<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/database"></ion-back-button>
    </ion-buttons>
    <ion-title>Base de datos: Elementos de análisis clínicos</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/database/synlab-catalog/import']">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        <ion-label class="ion-hide-md-down">Importar catálogo Synlab</ion-label>
      </ion-button>
      <ion-button [routerLink]="['/database/analysis-elements/create']">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-label class="ion-hide-md-down">Nuevo</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <!-- Buscador -->
    <ion-row>
      <ion-col size="12" size-lg="12" class="ion-padding-top">
        <ion-searchbar #searchbar placeholder="Buscar por nombre..."
          (ionChange)="onSearchChange($event.detail.value)" [debounce]="250" class="ion-no-padding">
        </ion-searchbar>
      </ion-col>
    </ion-row>

    <!-- Listado -->
    <ion-row>
      <ion-col size="12" class="ion-padding-top">
        <ng-container *ngIf="!queryElements; else elseTemplate">
          <ion-row>
            <ion-virtual-scroll [items]="analysisElements">
              <ion-item *virtualItem="let analysisElement" lines="full" [routerLink]="[ './edit', analysisElement.id ]">
                 <ion-label>{{ analysisElement.elementCode }} - {{ analysisElement.name }}</ion-label>
              </ion-item>
            </ion-virtual-scroll>
          </ion-row>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-virtual-scroll [items]="queryElements">
            <ion-item *virtualItem="let analysisElement" lines="full" [routerLink]="[ './edit', analysisElement.id ]">
              <ion-label>{{ analysisElement.elementCode }} - {{ analysisElement.name }}</ion-label>
            </ion-item>
          </ion-virtual-scroll>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>