<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/database/image-tests"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar prueba de imagen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon slot="start" name="trash"></ion-icon>
        <ion-label>Eliminar</ion-label>
      </ion-button>
      <ion-button (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        <ion-label>Guardar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-padding-top">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" placeholder="Introduzca nombre" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-padding-top">
        <ion-item color="primary" lines="none">
          <ion-icon slot="start" name="images"></ion-icon>
          <ion-label>Elementos de la prueba de imagen (hallazgos)</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="addImageTestElement()">
              <ion-icon slot="start" name="add"></ion-icon>
              <ion-label>Añadir</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
          <ion-item *ngFor="let element of imageTest?.elements; let i = index" lines="full">
            <ion-reorder slot="start" title="Arrastra para re-ordenar los elementos de la prueba"></ion-reorder>
            <ion-label class="ion-text-wrap">{{ element.name }}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="deleteImageTestElement(element.name)" color="danger">
                <ion-icon slot="start" name="close"></ion-icon>
                <ion-label>Eliminar</ion-label>
              </ion-button>
              <ion-button [routerLink]="[ '/database/image-tests-elements/edit', element.id ]">
                <ion-icon slot="start" name="create"></ion-icon>
                <ion-label>Editar</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-reorder-group>
     
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>