<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Base de datos: Variantes genéticas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['./create']">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-label class="ion-hide-md-down">Nuevo</ion-label>
      </ion-button>
      <ion-button [routerLink]="['./import']">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        <ion-label class="ion-hide-md-down">Importar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" size-lg="10">
        <ion-searchbar #searchbar placeholder="Buscar..." (ionChange)="onSearchChange($event.detail.value)"
          [debounce]="250">
        </ion-searchbar>
      </ion-col>
      <ion-col size="4" size-lg="2">
        <ion-item lines="none">
          <ion-buttons slot="end">
            <ion-button (click)="changeView('list')" color="primary">
              <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
            <ion-button (click)="changeView('grid')" color="primary">
              <ion-icon slot="icon-only" name="grid"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="listView">
      <ion-col size="12">
        <ng-container *ngIf="!queryVariants; else elseTemplate">
          <ion-item *ngFor="let geneticVariant of geneticVariants"
            [routerLink]="['./edit', geneticVariant.id]" lines="full">
            <ion-label>
              <h2>{{ geneticVariant.name }}</h2>
              <p>
                <span style="color: var(--ion-color-primary);">Nombre formal:
                </span>{{ geneticVariant.formalName }}
              </p>
              <p>
                <span style="color: var(--ion-color-primary);">Cromosoma:
                </span>{{ geneticVariant.chromosome }}
              </p>
              <p>
                <span style="color: var(--ion-color-primary);">Posición: </span>{{ geneticVariant.position }}
              </p>
            </ion-label>
            <ion-badge *ngIf="geneticVariant.type === 'mutation'" color="primary">Mutación</ion-badge>
            <ion-badge *ngIf="geneticVariant.type === 'polymorphism'" color="primary">Polimorfismo</ion-badge>
          </ion-item>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-item *ngFor="let geneticVariant of queryVariants" [routerLink]="['./edit', geneticVariant.id]">
            <ion-label>
              <h2>{{ geneticVariant.name }}</h2>
              <p>
                <span style="color: var(--ion-color-primary);">Nombre formal:
                </span>{{ geneticVariant.formalName }}
              </p>
              <p>
                <span style="color: var(--ion-color-primary);">Cromosoma:
                </span>{{ geneticVariant.chromosome }}
              </p>
              <p>
                <span style="color: var(--ion-color-primary);">Posición: </span>{{ geneticVariant.position }}
              </p>
            </ion-label>
            <ion-badge *ngIf="geneticVariant.type === 'mutation'" color="primary">Mutación</ion-badge>
            <ion-badge *ngIf="geneticVariant.type === 'polymorphism'" color="primary">Polimorfismo</ion-badge>
          </ion-item>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ag-grid-angular *ngIf="!listView && !queryVariants" style="width: 100%; height: 90%"
    class="ag-theme-material" [rowData]="geneticVariants" [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  <ag-grid-angular *ngIf="!listView && queryVariants" style="width: 100%;" class="ag-theme-material"
    [rowData]="queryVariants" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" domLayout="autoHeight"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</ion-content>