ion-chip {
    height: 50px;
    overflow-wrap: break-word;
    white-space: normal;
}

.image-container {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
}