/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

* {
  outline: none;
}

ion-content {
  --background: #edf1f7;
}

ion-card {
  --background: white !important;
}

/* Ancho del split pane */
.split-pane-md.split-pane-visible>.split-pane-side {
  max-width: 15%;
}

/* Anidación de items del menú */
.submenu-margin {
  padding-left: 40px;

  ion-label {
    font-weight: normal;
  }
}

/* Scrollbar select */
.new-configuration-modal .modal-wrapper {
  height: 80%;
}

.alert-radio-group::-webkit-scrollbar,
.alert-checkbox-group::-webkit-scrollbar {
  width: 1em;
  display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track,
.alert-checkbox-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb,
.alert-checkbox-group::-webkit-scrollbar-thumb {
  background-color: var(--ion-color-primary);
  outline: 1px solid slategrey;
}

.list-md {
  padding: 0 !important;
}

.my-custom-modal-css .modal-wrapper {
  width: 80vw;
  height: 80vh;
  position: absolute;
  display: block;
}

.my-custom-modal-css-full .modal-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  display: block;
}

.alert-wrapper.sc-ion-alert-md {
  width: 1024px;
  min-width: 300px;
  max-width: 1024px;
}

.alert-checkbox-label.sc-ion-alert-md {
  white-space: pre-wrap;
}

.item-has-focus.label-floating.sc-ion-label-md-h,
.item-has-focus .label-floating.sc-ion-label-md-h,
.item-has-placeholder.label-floating.sc-ion-label-md-h,
.item-has-placeholder .label-floating.sc-ion-label-md-h,
.item-has-value.label-floating.sc-ion-label-md-h,
.item-has-value .label-floating.sc-ion-label-md-h {
  transform: translate3d(0, 0, 0) scale(1) !important;
  padding-top: 0.5rem;
}

.ionic-selectable-value-item {
  white-space: normal !important;
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  white-space: normal !important;
}

.modal-wrapper.sc-ion-modal-md,
.modal-shadow.sc-ion-modal-md {
  width: 1024px;
  min-height: 800px;
  min-width: 300px;
  max-width: 1024px;
}



.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper,
.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-alpine .ag-layout-print .ag-center-cols-clipper,
.ag-theme-alpine .ag-layout-print .ag-center-cols-container {
  min-height: 400px;
}