<ion-header>
  <ion-toolbar>
    <ion-title>Añadir elemento de análisis clínico: {{ disease?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed padding>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Selecciona elementos de análisis clínicos</ion-label>
          <ionic-selectable [(ngModel)]="analysisElementsData" [items]="analysisElements"
            itemValueField="id" itemTextField="name" [canSearch]="true" [hasVirtualScroll]="true" (onSearch)="onSearch($event)" 
            confirmButtonText="Seleccionar" closeButtonText="Cancelar" headerColor="primary" isMultiple="false"
            searchFailText="No hay items disponibles" searchPlaceholder="Buscar">
            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close" style="font-size: 24px;"></ion-icon>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label>Crear rangos específicos para la enfermedad (usará los estándar si no se marca esta casilla)</ion-label>
          <ion-checkbox [(ngModel)]="isCustom" slot="start"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="!isCustom && analysisElementsData">
        <ion-item lines="none">
          <ion-label position="floating">Relevancia para la enfermedad/condición</ion-label>
          <ion-select placeholder="Seleccione sexo" [(ngModel)]="relevancy" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option value="superior">Si supera el límite superior</ion-select-option>
            <ion-select-option value="inferior">Si supera el límite inferior</ion-select-option>
            <ion-select-option value="both">Si supera ambos límites</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row size="12" *ngIf="isCustom && analysisElementsData">
      <ion-col size="12" class="ion-margin-top">
        <ion-item color="primary">
          <ion-label>Añadir rango</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item lines="none">
          <ion-label position="floating">Sexo</ion-label>
          <ion-select placeholder="Seleccione sexo" [(ngModel)]="sex" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option value="Hombres">Hombres</ion-select-option>
            <ion-select-option value="Mujeres">Mujeres</ion-select-option>
            <ion-select-option value="Ambos">Ambos</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label position="floating">Edad mínima</ion-label>
          <ion-input type="number" placeholder="Introduzca edad" [(ngModel)]="lowerAge" min="0"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label position="floating">Edad máxima</ion-label>
          <ion-input type="number" placeholder="Introduzca edad" [(ngModel)]="upperAge"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label position="floating">Valor mínimo</ion-label>
          <ion-input type="number" placeholder="Introduzca valor" [(ngModel)]="lowerLevel" min="0"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label position="floating">Valor máximo</ion-label>
          <ion-input type="number" placeholder="Introduzca valor" [(ngModel)]="upperLevel"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Unidad métrica</ion-label>
          <ion-select placeholder="Seleccione unidad métrica" [(ngModel)]="metricUnit">
            <ion-select-option *ngFor="let item of metrics" [value]="item">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Intervalo de edad</ion-label>
          <ion-select placeholder="Seleccione unidad métrica" [(ngModel)]="intervaloEdad">
            <ion-select-option *ngFor="let item of intervaloEdades" [value]="item">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Relevancia para la enfermedad/condición</ion-label>
          <ion-select placeholder="Seleccione sexo" [(ngModel)]="relevancy" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option value="superior">Si supera el límite superior</ion-select-option>
            <ion-select-option value="inferior">Si supera el límite inferior</ion-select-option>
            <ion-select-option value="both">Si supera ambos límites</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="addRange()" expand="block" color="secondary">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>Añadir</ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="12" class="ion-margin-top">
        <ion-item color="primary">
          <ion-label>Rangos actualmente definidos</ion-label>
        </ion-item>
      </ion-col>
      <ion-item *ngFor="let range of ranges; let i = index" lines="full">
        <ion-text>
          <p *ngIf="range.CODIGO"><b>Incluido en test:</b> {{range.CODIGO}} - {{range.DESCRIPCION}}</p>
          <p *ngIf="range.SEXO"><b>Sexo:</b> {{range.SEXO}}</p>
          <p *ngIf="(range.INTERVALO_INF_EDAD >=0 || range.INTERVALO_SUP_EDAD >=0) && range.UNIDAD_INTERVALO_EDAD"><b>Edad:</b> {{range.INTERVALO_INF_EDAD}}-{{range.INTERVALO_SUP_EDAD}} {{range.UNIDAD_INTERVALO_EDAD}}</p>
          <p *ngIf="(range.LIM_INF || range.LIM_SUP) && range.UNIDAD"><b>Valores:</b> {{range.LIM_INF}}-{{range.LIM_SUP}} {{range.UNIDAD}}</p>
        </ion-text>
        <ion-buttons slot="end">
          <ion-button (click)="deleteRange(i)" color="danger">
            <ion-label>Eliminar</ion-label>
            <ion-icon slot="start" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>Cancelar</ion-label>
      </ion-button>
      <ion-button (click)="save()" color="primary">
        <ion-icon slot="start" name="save"></ion-icon>
        <ion-label>Aceptar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>